@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0b0b0b;
  --color-secondary: #e22e35;
  --color-muted: #383838cc;
  --color-dark: #383838;
  --color-header: #0b0b0b;
  --color-border: #e9e9e9;
  --color-input-border: #adadad;
  --color-shadow: #9f9f9f73;
  --color-success: #27ae60;
  --color-warning: #f2994a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
